html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body div {
    margin: 5px;
    width: 340px;
    display: flex;
    justify-content: space-between;
}

body div input {
    width: 200px;
}

body div span {
    width: 140px;
}

button {
    width: 100px;
    margin: 5px;
}